Repository Venafi/ansible-collection-venafi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV, @jdw2465VEN, @tr1ck3r

Delete tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete plugins/__pycache__/__init__.cpython-314.pyc
  plugins/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
Owners: none

Delete tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

security: Fix PKCS12 copy task mode from 0644 to 0600 to protect embedded private key
  plugins/__pycache__/__init__.cpython-313.pyc
  plugins/modules/__pycache__/__init__.cpython-313.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-313.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-313.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-313.pyc
  roles/certificate/tasks/local-certificate.yml
  tests/certificate/__pycache__/test_venafi_certificate.cpython-313-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-313-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-313-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-313-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-313-pytest-9.0.3.pyc
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix(deps): Tighten vcert/cryptography floors to drop certvalidator+oscrypto transitive deps
  plugins/__pycache__/__init__.cpython-313.pyc
  plugins/modules/__pycache__/__init__.cpython-313.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-313.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-313.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-313.pyc
  requirements.txt
  tests/certificate/__pycache__/test_venafi_certificate.cpython-313-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-313-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-313-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-313-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-313-pytest-9.0.3.pyc
Owners: none

fix(deps): Pin pip deps to exact versions with hashes; pin GH Actions to SHAs
  .github/workflows/ansible-lint.yml
  .github/workflows/ansible-test.yml
  .gitignore
  constraints.txt
  requirements.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

deps: introduce pip-compile lockfile with hash-pinned transitive dependencies — VC-53665
  requirements.in
  requirements.txt
Owners: none

fix: harden lock target, add CI sync check, and update README
  .gitattributes
  .github/workflows/lockfile-check.yml
  Makefile
  README.md
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV, @jdw2465VEN, @tr1ck3r

Update Makefile
  Makefile
Owners: none

Apply suggestions from code review
  .github/workflows/lockfile-check.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

Update lockfile-check.yml
  .github/workflows/lockfile-check.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix(deps): introduce pip-compile lockfile with hash-pinned transitive dependencies - VC-53665 [Logos] (#80)
  .gitattributes
  .github/workflows/lockfile-check.yml
  Makefile
  README.md
  requirements.in
  requirements.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV, @jdw2465VEN, @tr1ck3r

Add NGTS (Strata Cloud Manager) certificate support on vcert 0.19.0
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  galaxy.yml
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  requirements.in
  requirements.txt
  roles/certificate/README.md
  roles/certificate/defaults/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/remote-certificate.yml
  tests/certificate/test_venafi_certificate.py
  tests/common_utils/test_common_utils.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

Add NGTS policy management support
  CHANGELOG.md
  plugins/modules/venafi_policy.py
  requirements.in
  requirements.txt
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: resolve four 1.4.0 policy/certificate regressions
  CHANGELOG.md
  README.md
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  roles/certificate/README.md
  tests/certificate/test_vc59232_local_csr.py
  tests/policy/test_policy_management.py
  tests/policy/test_policy_utils.py
  tests/smoke/README.md
  tests/smoke/playbooks/smoke.yml
  tests/smoke/run_smoke.sh
  tests/smoke/test_artifact.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: resolve 1.4.0 RC2 release blockers
  .ansible-lint
  CHANGELOG.md
  Makefile
  galaxy.yml
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  roles/certificate/README.md
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/tasks/main.yml
  tests/certificate/test_key_path_derivation.py
  tests/certificate/test_key_type_and_idempotency.py
  tests/policy/test_policy_management.py
  tests/policy/test_policy_service_generated.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/smoke/README.md
  tests/smoke/playbooks/smoke.yml
  tests/smoke/run_smoke.sh
  tests/smoke/shims/sitecustomize.py
  tests/smoke/test_artifact.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

.github/CODEOWNERS:

*.py @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
*.yml @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
examples/ @luispresuelVenafi
*.md @jdw2465VEN @tr1ck3r
