Repository Venafi/ansible-collection-venafi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV, @jdw2465VEN, @tr1ck3r

updates docs to reflect Singapore and Canada regions
  roles/certificate/README.md
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r

Let certificate_common_name fall back to inventory_hostname
  roles/certificate/defaults/main.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

update minimum requirements
  meta/runtime.yml
  requirements.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

Up: Added changes to update it in AAP
  CHANGELOG.md
  meta/runtime.yml
  requirements.txt
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: bumps version for ansible galaxy
  galaxy.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: ignore .venv default name folder for Python virtual environment created by PyCharm
  galaxy.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

redranding ansible collection
  CHANGELOG.md
  README.md
  galaxy.yml
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/README.md
  roles/certificate/examples/README.md
  roles/certificate/examples/citrix_adc/README.md
  roles/certificate/examples/f5_bigip/README.md
  roles/certificate/examples/microsoft_iis/README.md
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/README.md
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/README.md
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_certificate/README.md
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
  tests/certificate/example-vars.yml
  tests/certificate/venafi-playbook-example.yml
  tests/certificate/venafi-role-playbook-example.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fixed wrong table format
  roles/certificate/README.md
Owners: @jdw2465VEN, @tr1ck3r

Add guard check for null csr_path
  plugins/modules/venafi_certificate.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

updated copyringht and links
  README.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/README.md
  roles/policy/README.md
  roles/ssh_ca/README.md
  roles/ssh_certificate/README.md
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fixed wrong version on badge
  README.md
  roles/certificate/README.md
  roles/policy/README.md
  roles/ssh_ca/README.md
  roles/ssh_certificate/README.md
Owners: @jdw2465VEN, @tr1ck3r

removed year on copyright and reverted project name
  CHANGELOG.md
  README.md
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/examples/citrix_adc/README.md
  roles/certificate/examples/f5_bigip/README.md
  roles/certificate/examples/microsoft_iis/README.md
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

updated license file
  LICENSE
Owners: none

Add guard check for null csr_path
  plugins/modules/venafi_certificate.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

Updates changelog for CyberArk rebarding. Also updates README to meet RedHat AAP requirements to publish Ansible Collection
  CHANGELOG.md
  README.md
Owners: @jdw2465VEN, @tr1ck3r

Update ansible-lint.yml
  .github/workflows/ansible-lint.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: fixes ansible lint issues
  .ansible-lint-ignore
  .github/workflows/ansible-lint.yml
  .github/workflows/ansible-test.yml
  .yamllint
  galaxy.yml
  plugins/modules/venafi_certificate.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

removes change to cyberark namespace in Glaxy file. Removes unnecesary comments. Adds missing ignore file in ansible-lint ignore file
  .ansible-lint-ignore
  .github/workflows/ansible-lint.yml
  galaxy.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

adds more files to git ignore
  .ansible-lint-ignore
Owners: none

adds more files to git ignore
  .ansible-lint-ignore
Owners: none

security: Fix CWE-276: Set secure permissions (0600) for private keys
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_ssh_certificate.py
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

security: Restrict PKCS12 file permissions to owner-only
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  roles/certificate/tasks/local-certificate.yml
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

security: Replace ansible_fqdn with inventory_hostname in role defaults
  roles/certificate/defaults/main.yml
  roles/ssh_ca/defaults/main.yml
  roles/ssh_certificate/defaults/main.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

security: Add no_log and security warnings for CWE-522 credential exposure
  README.md
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  roles/certificate/defaults/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/ssh_ca/defaults/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/defaults/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

Delete plugins/__pycache__/__init__.cpython-314.pyc
  plugins/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
Owners: none

Delete tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
Owners: none

Delete plugins/__pycache__/__init__.cpython-314.pyc
  plugins/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
Owners: none

Delete tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

.github/CODEOWNERS:

*.py @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
*.yml @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
examples/ @luispresuelVenafi
*.md @jdw2465VEN @tr1ck3r
