Repository Venafi/ansible-collection-venafi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV, @jdw2465VEN, @tr1ck3r

.github/CODEOWNERS:

*.py @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
*.yml @rvelaVenafi @marcos-albornoz @luispresuelVenafi @EduardoVV
examples/ @luispresuelVenafi
*.md @jdw2465VEN @tr1ck3r

Fix typo in default elliptic curve
  roles/certificate/README.md
Owners: @jdw2465VEN, @tr1ck3r

feat(release): Changed version for release
  docs/version_history.md
  galaxy.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat(release): Changed version for release
  Makefile
  docs/version_history.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  requirements.txt
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/local-ca.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat(release): Changed version for release
  Makefile
  docs/version_history.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  requirements.txt
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/local-ca.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: ansible-test sanity issues
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/examples/citrix_adc/citrix_create_playbook.yaml
  tests/certificate/test_venafi_certificate.py
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat: add ansible-lint pipeline
  .github/workflows/ansible-lint.yml
  .gitignore
  tests/sanity/ignore-2.15.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: remove false positives from examples
  .ansible-lint-ignore
  molecule/default/Dockerfile.j2
  molecule/default/INSTALL.rst
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/policy/Dockerfile.j2
  molecule/policy/INSTALL.rst
  molecule/policy/converge.yml
  molecule/policy/molecule.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: ignore false positives
  .ansible-lint-ignore
Owners: none

feat: perform sanity tests
  .github/workflows/ansible-test.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: linter errors
  .github/workflows/ansible-test.yml
  plugins/module_utils/common_utils.py
  plugins/modules/venafi_ssh_certificate.py
  tests/sanity/ignore-2.15.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: ignore file for ansible 2.14
  tests/sanity/ignore-2.14.txt
Owners: none

feat: update package minor version
  galaxy.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat(changelog): Added changelog for version 0.10.0
  README.md
  docs/version_history.md
Owners: @jdw2465VEN, @tr1ck3r

feat(relase): Release version 1.0.0 of venafi.machine_identity collection
  docs/version_history.md
  galaxy.yml
  plugins/modules/venafi_certificate.py
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: yamllint issues
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: rename changelog
  CHANGELOG.md
Owners: @jdw2465VEN, @tr1ck3r

fix: update minimum ansible-core version
  meta/runtime.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat: test with ansible-core 2.13
  .github/workflows/ansible-test.yml
  tests/sanity/ignore-2.13.txt
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat: added installation instructions and minimum required versions
  README.md
Owners: @jdw2465VEN, @tr1ck3r

feat: bump package version
  CHANGELOG.md
  galaxy.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix: remove unexistant sanity error ignore
  tests/sanity/ignore-2.13.txt
Owners: none

Feat: Update doc for emea
  roles/certificate/README.md
Owners: @jdw2465VEN, @tr1ck3r

Update policy README.md
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r

Update README.md
  roles/certificate/README.md
Owners: @jdw2465VEN, @tr1ck3r

Update README.md
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r

fix warning from not passing user or pass
  plugins/module_utils/common_utils.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

remove duplicate common name
  plugins/modules/venafi_certificate.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix how variables are checked
  plugins/module_utils/common_utils.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix(vcert): Updates vcert dependency to v0.16.2
  Dockerfile
  requirements.txt
  test/cred.yaml
Owners: none

fix(vcert): Updates vcert dependency to v0.16.2
  Dockerfile
  test/cred.yaml
Owners: none

fix(private-key): Fixes an issue with csr origin service and private key types
  Makefile
  plugins/modules/venafi_certificate.py
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

fix(private-key): Adds missing break line in Makefile
  Makefile
Owners: none

feat(release): Bumps patch version to v1.0.2
  galaxy.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat(changelog): Document changes in changelog
  CHANGELOG.md
Owners: @jdw2465VEN, @tr1ck3r

feat(dependencies): Updates vcert and cryptography dependencies
  requirements.txt
Owners: none

feat(release): Bumps version to 1.0.3
  CHANGELOG.md
  galaxy.yml
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

impr: Updates docs for AU region
  roles/certificate/README.md
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r

fix: ansible lint github action
  .github/workflows/ansible-lint.yml
Owners: @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV

feat: updates docs for UK region
  roles/certificate/README.md
  roles/policy/README.md
Owners: @jdw2465VEN, @tr1ck3r

feat: adds support for TPP 25.1
  CHANGELOG.md
  galaxy.yml
  requirements.txt
Owners: @jdw2465VEN, @tr1ck3r, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @EduardoVV
