Repository Venafi/ansible-collection-venafi, changes with the owners that CODEOWNERS names for each.
All owners: @angelmoo, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @ricrodriguezg, @tr1ck3r, @jdw2465VEN

CODEOWNERS:

*.py @angelmoo @rvelaVenafi @marcos-albornoz
*.yml @angelmoo @rvelaVenafi @marcos-albornoz
examples/ @luispresuelVenafi @ricrodriguezg 
*.md @tr1ck3r @jdw2465VEN

Update to current Venafi logo
  Venafi_logo.png
Owners: none

Move non-code files to .github
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/images/Venafi_logo.png
  README.md
Owners: @tr1ck3r, @jdw2465VEN

Updateing f5 Diagram
  venafi_ansible_role.png
Owners: none

Updates Venafi logo on examples diagrams
  roles/certificate/examples/citrix_adc/venafi_ansible_role.png
  roles/certificate/examples/f5_bigip/venafi_ansible_role.png
  roles/certificate/examples/microsoft_iis/diagram_venafi_ansible_iis.png
  venafi_ansible_role.png
Owners: @luispresuelVenafi, @ricrodriguezg

Correct 4096 key size
  roles/certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

Replacing Venafi Cloud by Venafi as a Service
  roles/certificate/examples/citrix_adc/venafi_ansible_role.png
  roles/certificate/examples/f5_bigip/venafi_ansible_role.png
  roles/certificate/examples/microsoft_iis/diagram_venafi_ansible_iis.png
Owners: @luispresuelVenafi, @ricrodriguezg

Minor revisions to make work after P12 enhancement
  roles/certificate/defaults/main.yml
  roles/certificate/tasks/local-certificate.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

Clean up .github folder
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/ask_a_question.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/report_a_bug.md
  .github/ISSUE_TEMPLATE/request_a_feature.md
  .github/SECURITY.md
  .github/images/Venafi_logo.png
  README.md
  docs/version_history.md
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

Update logo image ref in other README.md files
  README.md
  roles/certificate/README.md
  roles/policy/README.md
  roles/ssh_ca/README.md
  roles/ssh_certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

Update CODEOWNERS
  .github/CODEOWNERS
Owners: none

Fix typo in default elliptic curve
  roles/certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

feat(release): Changed version for release
  docs/version_history.md
  galaxy.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

feat(release): Changed version for release
  Makefile
  docs/version_history.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  requirements.txt
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/local-ca.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

feat(release): Changed version for release
  Makefile
  docs/version_history.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  requirements.txt
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/local-ca.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: ansible-test sanity issues
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/examples/citrix_adc/citrix_create_playbook.yaml
  tests/certificate/test_venafi_certificate.py
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @ricrodriguezg

feat: add ansible-lint pipeline
  .github/workflows/ansible-lint.yml
  .gitignore
  tests/sanity/ignore-2.15.txt
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: remove false positives from examples
  .ansible-lint-ignore
  molecule/default/Dockerfile.j2
  molecule/default/INSTALL.rst
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/policy/Dockerfile.j2
  molecule/policy/INSTALL.rst
  molecule/policy/converge.yml
  molecule/policy/molecule.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: ignore false positives
  .ansible-lint-ignore
Owners: none

feat: perform sanity tests
  .github/workflows/ansible-test.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: linter errors
  .github/workflows/ansible-test.yml
  plugins/module_utils/common_utils.py
  plugins/modules/venafi_ssh_certificate.py
  tests/sanity/ignore-2.15.txt
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: ignore file for ansible 2.14
  tests/sanity/ignore-2.14.txt
Owners: none

feat: update package minor version
  galaxy.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

feat(changelog): Added changelog for version 0.10.0
  README.md
  docs/version_history.md
Owners: @tr1ck3r, @jdw2465VEN

feat(relase): Release version 1.0.0 of venafi.machine_identity collection
  docs/version_history.md
  galaxy.yml
  plugins/modules/venafi_certificate.py
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: yamllint issues
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: rename changelog
  CHANGELOG.md
Owners: @tr1ck3r, @jdw2465VEN

fix: update minimum ansible-core version
  meta/runtime.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

feat: test with ansible-core 2.13
  .github/workflows/ansible-test.yml
  tests/sanity/ignore-2.13.txt
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

feat: added installation instructions and minimum required versions
  README.md
Owners: @tr1ck3r, @jdw2465VEN

feat: bump package version
  CHANGELOG.md
  galaxy.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: remove unexistant sanity error ignore
  tests/sanity/ignore-2.13.txt
Owners: none

Feat: Update doc for emea
  roles/certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

Update policy README.md
  roles/policy/README.md
Owners: @tr1ck3r, @jdw2465VEN

Update README.md
  roles/certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

Update README.md
  roles/policy/README.md
Owners: @tr1ck3r, @jdw2465VEN

fix warning from not passing user or pass
  plugins/module_utils/common_utils.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

remove duplicate common name
  plugins/modules/venafi_certificate.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix how variables are checked
  plugins/module_utils/common_utils.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix(vcert): Updates vcert dependency to v0.16.2
  Dockerfile
  requirements.txt
  test/cred.yaml
Owners: none

fix(vcert): Updates vcert dependency to v0.16.2
  Dockerfile
  test/cred.yaml
Owners: none
