Repository Venafi/ansible-collection-venafi, changes with the owners that CODEOWNERS names for each.
All owners: @angelmoo, @rvelaVenafi, @marcos-albornoz, @luispresuelVenafi, @ricrodriguezg, @tr1ck3r, @jdw2465VEN

fix(private-key): Fixes an issue with csr origin service and private key types
  Makefile
  plugins/modules/venafi_certificate.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix(private-key): Adds missing break line in Makefile
  Makefile
Owners: none

feat(release): Bumps patch version to v1.0.2
  galaxy.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

feat(changelog): Document changes in changelog
  CHANGELOG.md
Owners: @tr1ck3r, @jdw2465VEN

feat(dependencies): Updates vcert and cryptography dependencies
  requirements.txt
Owners: none

feat(release): Bumps version to 1.0.3
  CHANGELOG.md
  galaxy.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

impr: Updates docs for AU region
  roles/certificate/README.md
  roles/policy/README.md
Owners: @tr1ck3r, @jdw2465VEN

fix: ansible lint github action
  .github/workflows/ansible-lint.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

feat: updates docs for UK region
  roles/certificate/README.md
  roles/policy/README.md
Owners: @tr1ck3r, @jdw2465VEN

feat: adds support for TPP 25.1
  CHANGELOG.md
  galaxy.yml
  requirements.txt
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

updates docs to reflect Singapore and Canada regions
  roles/certificate/README.md
  roles/policy/README.md
Owners: @tr1ck3r, @jdw2465VEN

Let certificate_common_name fall back to inventory_hostname
  roles/certificate/defaults/main.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

update minimum requirements
  meta/runtime.yml
  requirements.txt
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

Up: Added changes to update it in AAP
  CHANGELOG.md
  meta/runtime.yml
  requirements.txt
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: bumps version for ansible galaxy
  galaxy.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: ignore .venv default name folder for Python virtual environment created by PyCharm
  galaxy.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

redranding ansible collection
  CHANGELOG.md
  README.md
  galaxy.yml
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/README.md
  roles/certificate/examples/README.md
  roles/certificate/examples/citrix_adc/README.md
  roles/certificate/examples/f5_bigip/README.md
  roles/certificate/examples/microsoft_iis/README.md
  roles/certificate/meta/main.yml
  roles/certificate/tasks/local-certificate.yml
  roles/certificate/tasks/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/policy/README.md
  roles/policy/meta/main.yml
  roles/policy/tasks/main.yml
  roles/ssh_ca/README.md
  roles/ssh_ca/meta/main.yml
  roles/ssh_ca/tasks/main.yml
  roles/ssh_certificate/README.md
  roles/ssh_certificate/meta/main.yml
  roles/ssh_certificate/tasks/local-certificate.yml
  roles/ssh_certificate/tasks/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
  tests/certificate/example-vars.yml
  tests/certificate/venafi-playbook-example.yml
  tests/certificate/venafi-role-playbook-example.yml
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fixed wrong table format
  roles/certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

Add guard check for null csr_path
  plugins/modules/venafi_certificate.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

updated copyringht and links
  README.md
  galaxy.yml
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/README.md
  roles/policy/README.md
  roles/ssh_ca/README.md
  roles/ssh_certificate/README.md
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

fixed wrong version on badge
  README.md
  roles/certificate/README.md
  roles/policy/README.md
  roles/ssh_ca/README.md
  roles/ssh_certificate/README.md
Owners: @tr1ck3r, @jdw2465VEN

removed year on copyright and reverted project name
  CHANGELOG.md
  README.md
  plugins/doc_fragments/common_options.py
  plugins/doc_fragments/venafi_connection_options.py
  plugins/module_utils/common_utils.py
  plugins/module_utils/policy_utils.py
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_policy.py
  plugins/modules/venafi_ssh_ca.py
  plugins/modules/venafi_ssh_certificate.py
  roles/certificate/examples/citrix_adc/README.md
  roles/certificate/examples/f5_bigip/README.md
  roles/certificate/examples/microsoft_iis/README.md
  tests/policy/test_policy_management.py
  tests/policy/test_utils.py
  tests/ssh_ca/test_ssh_ca.py
  tests/ssh_certificate/test_ssh_certificate.py
  tests/ssh_certificate/test_utils.py
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

updated license file
  LICENSE
Owners: none

Add guard check for null csr_path
  plugins/modules/venafi_certificate.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

Updates changelog for CyberArk rebarding. Also updates README to meet RedHat AAP requirements to publish Ansible Collection
  CHANGELOG.md
  README.md
Owners: @tr1ck3r, @jdw2465VEN

Update ansible-lint.yml
  .github/workflows/ansible-lint.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

fix: fixes ansible lint issues
  .ansible-lint-ignore
  .github/workflows/ansible-lint.yml
  .github/workflows/ansible-test.yml
  .yamllint
  galaxy.yml
  plugins/modules/venafi_certificate.py
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

removes change to cyberark namespace in Glaxy file. Removes unnecesary comments. Adds missing ignore file in ansible-lint ignore file
  .ansible-lint-ignore
  .github/workflows/ansible-lint.yml
  galaxy.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

adds more files to git ignore
  .ansible-lint-ignore
Owners: none

adds more files to git ignore
  .ansible-lint-ignore
Owners: none

security: Fix CWE-276: Set secure permissions (0600) for private keys
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/venafi_certificate.py
  plugins/modules/venafi_ssh_certificate.py
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

security: Restrict PKCS12 file permissions to owner-only
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  roles/certificate/tasks/local-certificate.yml
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

security: Replace ansible_fqdn with inventory_hostname in role defaults
  roles/certificate/defaults/main.yml
  roles/ssh_ca/defaults/main.yml
  roles/ssh_certificate/defaults/main.yml
Owners: @angelmoo, @rvelaVenafi, @marcos-albornoz

security: Add no_log and security warnings for CWE-522 credential exposure
  README.md
  plugins/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  roles/certificate/defaults/main.yml
  roles/certificate/tasks/remote-certificate.yml
  roles/ssh_ca/defaults/main.yml
  roles/ssh_ca/tasks/remote-ca.yml
  roles/ssh_certificate/defaults/main.yml
  roles/ssh_certificate/tasks/remote-certificate.yml
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_policy_management.cpython-314-pytest-9.0.3.pyc
  tests/policy/__pycache__/test_utils.cpython-314-pytest-9.0.3.pyc
  tests/ssh_ca/__pycache__/test_ssh_ca.cpython-314-pytest-9.0.3.pyc
  tests/ssh_certificate/__pycache__/test_ssh_certificate.cpython-314-pytest-9.0.3.pyc
Owners: @tr1ck3r, @jdw2465VEN, @angelmoo, @rvelaVenafi, @marcos-albornoz

Delete plugins/__pycache__/__init__.cpython-314.pyc
  plugins/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/__init__.cpython-314.pyc
  plugins/modules/__pycache__/__init__.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_certificate.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_ca.cpython-314.pyc
Owners: none

Delete plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
  plugins/modules/__pycache__/venafi_ssh_certificate.cpython-314.pyc
Owners: none

Delete tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
  tests/certificate/__pycache__/test_venafi_certificate.cpython-314-pytest-9.0.3.pyc
Owners: none

CODEOWNERS:

*.py @angelmoo @rvelaVenafi @marcos-albornoz
*.yml @angelmoo @rvelaVenafi @marcos-albornoz
examples/ @luispresuelVenafi @ricrodriguezg 
*.md @tr1ck3r @jdw2465VEN
